<div class="container">
  <div class="row">
       <div class="col-xl-4 col-md-6 col-10 mx-auto p-t-10">             
           <div class="card">
              <div class="card-body text-center">
                  <h1 class="display-1">501</h1>
                  <h6 class="card-title">Opps, it seems that this page is not authenticate you.</h6>
                  <p class="card-text">I already send page request permission to admin. If you are sure it should, contact admin to get access.</p>
              </div>
           </div>
       </div>
  </div>
</div>