<div *ngIf="selected.length === 0" >
  <div class="col-md-12">
    <table>
      <tr>
        <td style="width: 10px;">
          <h1><small></small></h1>
        </td>
        <td style="width: 250px;">
          <h5>PLANNING</h5>
        </td>
        <td style="width: 1100px;">
          <div class="input-group input-group-sm my-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input class="form-control" type="text" placeholder="Search Project Name or Product Name..." (keyup)="updateFilter($event)"/>
          </div>
        </td>
        <td style="width: 100px;"> </td>
        <td style="width: 100px; text-align: center; vertical-align: center;">
        </td>
        <td style="width: 200px; text-align: center; vertical-align: center;">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success fa fa-plus" (click)="addNew()"> Add New</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <ngx-datatable
    #table
    class="custom_table"
    [headerHeight]="50"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="product_details"
    [selected]="selected"
    [selectionType]="'single'"
    (activate)="onActivate($event)">

    <ngx-datatable-column prop="id" name="ID" >
        <ng-template ngx-datatable-cell-template let-row="row">
            {{row.id}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="date_time" name="CREATED AT">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{row.date_time| date: 'dd-MM-yyyy HH:mm:ss'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="creater_name" name="CREATED BY">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{row.creater_name}}
      </ng-template>
    </ngx-datatable-column>

        <ngx-datatable-column prop="by_product_no" name="PRODUCT NO">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{row.by_product_no}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="type" name="PROJECT NAME">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span *ngIf="row.type == 1">{{row.project_name}}</span>
        <span *ngIf="row.type == 2"> <strong>For Store</strong></span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="product_name" name="PRODUCT NAME">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{row.product_name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="level" name="LEVEL">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span *ngIf="row.level === 1">Created</span>
        <span *ngIf="row.level === 2">Waiting For Approval</span>
        <span *ngIf="row.level === 3">Move to Production</span>
        <span *ngIf="row.level === 4">Completed</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div *ngIf="selected.length > 0">
  <div class="modal-header">
    <button type="submit" class="btn btn-info fa fa-arrow-left" (click)="set_zero($event)"> Back</button>
    <button type="submit" class="btn btn-success fa fa-check pull-right" (click)="move_to_process($event)" *ngIf="detail_view.assign_id === null"> Approve & Move to Process</button>
    <button class="btn btn-danger fa fa-trash" (click)="delete_production()" *ngIf="detail_view.type === 2 && detail_view.assign_id === null"> Delete Production</button>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <div widget class="card">
        <div class="card-header">
          <span *ngIf="detail_view.type === 1">PRODUCTION FOR PROJECT - PLANNING</span>
          <span *ngIf="detail_view.type === 2">PRODUCTION FOR STORE   - PLANNING</span>
          <div class="widget-controls">
              <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
              <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
              <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
              <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
              <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="card-body widget-body">
          <div class="row">
            <table class="table col-md-6">
              <tbody>
                  <tr *ngIf="detail_view.type === 1">
                    <th>Project ID</th>
                    <td>{{detail_view.project_id}}</td>
                  </tr>
                  <tr *ngIf="detail_view.type === 1">
                    <th>Associate ID</th>
                    <td>{{detail_view.asso_id}}</td>
                  </tr>
                  <tr>
                      <th>Created By</th>
                      <td>{{detail_view.creater_name}}</td>
                  </tr>
                  <tr *ngIf="detail_view.type === 1">
                    <th>Byproduct ID</th>
                    <td>{{detail_view.byproduct_id}}</td>
                  </tr>
                  <tr>
                    <th>Product ID</th>
                    <td>{{detail_view.id}}</td>
                  </tr>
                  <tr>
                    <th>Start Date & Time</th>
                    <td *ngIf="detail_view.start_datetime != null">{{detail_view.start_datetime | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td *ngIf="detail_view.start_datetime === null">Not Assigned</td>
                  </tr>
                  <tr>
                    <th>Assign To</th>
                    <td *ngIf="detail_view.assign_id != null">{{detail_view.assign_name}}</td>
                    <td *ngIf="detail_view.assign_id === null">Not Assigned</td>
                  </tr>
                  <tr>
                    <th>Status</th>
                    <td *ngIf="detail_view.status == 1"> Active </td>
                    <td *ngIf="detail_view.status == 2"> Completed </td>
                  </tr>

                  <tr>
                  <th>Production No</th>
                  <td *ngIf="detail_view.by_product_no != null">{{detail_view.by_product_no}}</td>

                </tr>

              </tbody>
            </table>
            <table class="table col-md-6">
              <tbody>
                <tr *ngIf="detail_view.type === 1">
                  <th>Project Name</th>
                  <td>{{detail_view.project_name}}</td>
                </tr>
                <tr *ngIf="detail_view.type === 1">
                  <th>Associate Name</th>
                  <td>{{detail_view.asso_name}}</td>
                </tr>
                <tr>
                  <th>Created at</th>
                  <td>{{detail_view.date_time | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                </tr>
                <tr *ngIf="detail_view.type === 1">
                    <th>Byproduct Name</th>
                    <td>{{detail_view.byproduct_name}}</td>
                </tr>
                <tr>
                  <th>Product Name</th>
                  <td>{{detail_view.product_name}}</td>
                </tr>
                <tr>
                  <th>End Date & Time</th>
                  <td *ngIf="detail_view.end_datetime != null">{{detail_view.end_datetime | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                  <td *ngIf="detail_view.end_datetime === null">Not Assigned</td>
                </tr>
                <tr>
                  <th>Production For</th>
                  <td *ngIf="detail_view.type == 1">For Project</td>
                  <td *ngIf="detail_view.type == 2">For Store</td>
                </tr>
                <tr>
                  <th>Level</th>
                  <td *ngIf="detail_view.level == 1">Created</td>
                  <td *ngIf="detail_view.level == 2">Waiting For Approval</td>
                  <td *ngIf="detail_view.level == 3">Move to Production</td>
                  <td *ngIf="detail_view.level == 4">Completed</td>
                </tr>
                 <tr>
                  <th>Production Notes</th>
                  <td *ngIf="detail_view.notes != null" style="text-align: left;">{{detail_view.notes}}</td>
                  <td *ngIf="detail_view.notes === null">No Notes Available</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #add_product let-modal>
  <div class="modal-header state modal-info">
    <h3 class="modal-title" id="modal-primary-label">Add Byproduct</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="CategoryForm" (ngSubmit)="Submit(CategoryForm.value)" class="row">

      <div class="form-group col-md-4">
        Category Name
      </div>
      <div class="form-group col-md-8">
        <!-- <select formControlName="category_id" class="form-control">
          <option *ngFor= "let item of category_list" value={{item.id}}>{{item.name}}</option>
        </select> -->

        <ng-select formControlName="category_id"  class=" form-control custom-select" [clearable]="false"  (change)="Batch($event)" >
          <ng-option *ngFor= "let item of category_list" value="{{item.id}}" class="form-control">
              {{item.name}}
          </ng-option>
        </ng-select>

      </div>

      <div class="form-group col-md-4">
        Product Number
      </div>
      <div class="form-group col-md-8">
        <input formControlName="product_no"  class="form-control" [(ngModel)]="Product_no" placeholder="Product Number">
        <span class="help-block text-danger" *ngIf="CategoryForm.get('product_no').touched && CategoryForm.get('product_no').hasError('required')">Number Required !</span>
        <span class="help-block text-danger" *ngIf="CategoryForm.get('product_no').touched && CategoryForm.get('product_no').hasError('minlength')">Minimum 3 Letters</span>
      </div>

      <div class="form-group col-md-4">
        Notes
      </div>
      <div class="form-group col-md-8">
        <input formControlName="notes" type="account" class="form-control" placeholder="Production Notes">
        <span class="help-block text-danger" *ngIf="CategoryForm.get('notes').touched && CategoryForm.get('notes').hasError('required')">Notes Required !</span>
        <span class="help-block text-danger" *ngIf="CategoryForm.get('notes').touched && CategoryForm.get('notes').hasError('minlength')">Minimum 3 Letters</span>
      </div>

      <div class="form-group col-md-12" style="text-align: center;">
        <button [disabled]="loading" type="submit" class="btn btn-info">Add Product <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #move_to_production let-modal>
  <div class="modal-header state modal-info">
    <h3 class="modal-title" id="modal-primary-label">Assign Task</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="AssignTo" (ngSubmit)="MoveToSubmit(AssignTo.value)" class="row">

      <div class="form-group col-md-4">
        Batch
      </div>
      <div class="form-group col-md-6">
        <input formControlName="batch" class="form-control" placeholder="Batch Code">
      </div>

      <div class="form-group col-md-4">
        Asign To
      </div>
      <div class="form-group col-md-6">
        <!-- <select formControlName="assign_to" class="form-control">
          <option *ngFor= "let employee of employee_list" value={{employee.emp_id}}>{{employee.name}}</option>
        </select> -->

        <ng-select formControlName="assign_to"  class=" form-control custom-select" [clearable]="false" >
          <ng-option *ngFor= "let employee of employee_list" value="{{employee.emp_id}}" class="form-control">
            {{employee.name}}
          </ng-option>
        </ng-select>

        <span class="help-block text-danger" *ngIf="AssignTo.get('assign_to').touched && AssignTo.get('assign_to').hasError('required')">Required !</span>
      </div>

      <div class="form-group col-md-4">
        Start Date & Time
      </div>
      <div class="form-group col-md-6">
        <input formControlName="start_date_time" type="datetime-local" class="form-control" format="MM-DD-YYYY HH:mm" id="input-11">

        <span class="help-block text-danger" *ngIf="AssignTo.get('start_date_time').touched && AssignTo.get('start_date_time').hasError('required')">Required !</span>
      </div>

      <div class="form-group col-md-4">
        End Date & Time
      </div>
      <div class="form-group col-md-6">
        <input formControlName="end_date_time" type="datetime-local" class="form-control" format="MM-DD-YYYY HH:mm" id="input-11">
        <span class="help-block text-danger" *ngIf="AssignTo.get('end_date_time').touched && AssignTo.get('end_date_time').hasError('required')">Required !</span>
      </div>




      <div class="form-group col-md-4">
        Notes
      </div>
      <div class="form-group col-md-6">
        <textarea formControlName="notes" rows="4" class="form-control" placeholder="Production Notes"></textarea>
        <span class="help-block text-danger" *ngIf="AssignTo.get('notes').touched && AssignTo.get('notes').hasError('required')">Notes Required !</span>
        <span class="help-block text-danger" *ngIf="AssignTo.get('notes').touched && AssignTo.get('notes').hasError('minlength')">Minimum 3 Letters</span>
      </div>

      <div class="form-group col-md-8">
        <button [disabled]="loading" type="submit" class="btn btn-info pull-right">Add Product <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header state modal-danger">
    <h4 class="modal-title" id="modal-primary-label">Delete Confirmation</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    Are you sure to delete this Plan!
  </div>
  <div class="modal-footer">
      <button [disabled]="loading" type="button" class="btn btn-danger" data-dismiss="modal" (click)="ReqDelete()">Delete<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
      <button type="button" class="btn btn-success" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</ng-template>
