
<div class="row">
  <!-- <div class="col-12" *ngIf="list_show">
   <button  type="submit" class="btn btn-info fa fa-arrow-left mb-3" (click)="set_zero()"> Back</button>
   &nbsp;
  </div> -->

  <div class="col-12 d-flex  align-items-center">
    <div class="col-2">
      <h4>Product Stock List</h4>
    </div>


  <div class="col-8">
       <div class="input-group input-group-sm my-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input class="form-control" type="text" placeholder="Search Project Name or Product Name..." (keyup)="updateFilter($event)"/>
          </div>
    </div>
</div>

  <div  class="col-3">

    <ngx-datatable
      #table class="custom_table"
      [headerHeight]="50"
      [limit]="20"
      [columnMode]="'flex'"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="stock_list"
      [selectionType]="'single'"
      (activate)="onActivate($event)"> <!-- Enable Short-->

    <ngx-datatable-column     [resizeable]="false" prop="product_name" [flexGrow]="2" name="PRODUCT NAME">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{row.name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column     [resizeable]="false" prop="product_list_count" [flexGrow]="1" name="Stock">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{row.product_list_count}}
      </ng-template>
    </ngx-datatable-column>

    </ngx-datatable>
</div>


  <div  class="col-9 " >


        <ngx-datatable
          #table class="custom_table"
          [headerHeight]="50"
          [limit]="20"
          [columnMode]="'flex'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [rows]="product_list"
          [selectionType]="'single'"
          > <!-- Enable Short-->

          <ngx-datatable-column     [resizeable]="false" prop="id" [flexGrow]="1" name="ID" >
            <ng-template ngx-datatable-cell-template let-row="row">
                {{row.id}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column     [resizeable]="false" prop="date_time" [flexGrow]="1" name="CREATED AT">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.date_time | date: 'dd-MM-yyyy HH:mm:ss'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column     [resizeable]="false" prop="creater_name" [flexGrow]="1" name="CREATED BY">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.creater_name}}
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column     [resizeable]="false" prop="type" [flexGrow]="2" name="PROJECT NAME">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span *ngIf="row.type == 1">{{row.project_name}}</span>
            <span *ngIf="row.type == 2"> <strong>For Store</strong></span>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column     [resizeable]="false" prop="product_name" [flexGrow]="2" name="PRODUCT NAME">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.product_name}}
          </ng-template>
        </ngx-datatable-column>

      <ngx-datatable-column     [resizeable]="false" prop="stock_percentage" [flexGrow]="2" name="STOCK PERCENTAGE">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.stock_percentage}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column     [resizeable]="false" prop="notes" [flexGrow]="2" name="NOTES">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.notes}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column     [resizeable]="false" prop="level" name="LEVEL" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span *ngIf="row.level === 1" style="color: red;">Created</span>
            <span *ngIf="row.level === 2" style="color: blue;">Waiting For Approval</span>
            <span *ngIf="row.level === 3" style="color: blue;">Move to Production</span>
            <span *ngIf="row.level === 4" style="color: green;">Completed</span>
          </ng-template>
        </ngx-datatable-column>
        </ngx-datatable>
  </div>
</div>
