
<div class="row">
  <div class="col-12" *ngIf="list_show">
   <button  type="submit" class="btn btn-info fa fa-arrow-left mb-3" (click)="set_zero()"> Back</button>
   &nbsp;
  </div>
  <div *ngIf="!list_show" class="col-4">
    <ngx-datatable
      #table class="custom_table"
      [headerHeight]="50"
      [limit]="20"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="stock_list"
      [selectionType]="'single'"
      (activate)="onActivate($event)"> <!-- Enable Short-->

    <ngx-datatable-column prop="product_name" name="PRODUCT NAME">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{row.name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="product_list_count" name="Stock">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{row.product_list_count}}
      </ng-template>
    </ngx-datatable-column>


    </ngx-datatable>
</div>
  <div *ngIf="list_show" class="col-12">
        <ngx-datatable
          #table class="custom_table"
          [headerHeight]="50"
          [limit]="20"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [rows]="product_list"
          [selectionType]="'single'"
          > <!-- Enable Short-->

          <ngx-datatable-column prop="id" name="ID" >
            <ng-template ngx-datatable-cell-template let-row="row">
                {{row.id}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="date_time" name="CREATED AT">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.date_time | date: 'dd-MM-yyyy HH:mm:ss'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="creater_name" name="CREATED BY">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.creater_name}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="type" name="PROJECT NAME">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span *ngIf="row.type == 1">{{row.project_name}}</span>
            <span *ngIf="row.type == 2"> <strong>For Store</strong></span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="product_name" name="PRODUCT NAME">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.product_name}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="product_name" name="NOTES">
          <ng-template ngx-datatable-cell-template let-row="row">
              {{row.notes}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="level" name="LEVEL">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span *ngIf="row.level === 1" style="color: red;">Created</span>
            <span *ngIf="row.level === 2" style="color: blue;">Waiting For Approval</span>
            <span *ngIf="row.level === 3" style="color: blue;">Move to Production</span>
            <span *ngIf="row.level === 4" style="color: green;">Completed</span>
          </ng-template>
        </ngx-datatable-column>
        </ngx-datatable>
  </div>
</div>
